.tag-list-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #475569;
  margin-bottom: 5px;
  padding: 7px;
}

.user-input {
  font-size: 15px;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0px;
}

.tag-item {
  font-size: 12px;
  color: black;
  font-family: 'Roboto';
  font-weight: 500;
  border: 0px;
  padding: 8px;
  background-color: #f3aa4e;
  border-radius: 5px;
  margin: 0px;
}
